openapi: 3.0.0
info:
  title: Teamleader API
  description: This is the documentation of the Teamleader Focus API. If you have any feedback, or are you missing functionality to support your use case? Let us know via [api@teamleader.eu](mailto:api@teamleader.eu).
  contact: {}
  version: 1.112.0
servers:
  - url: https://api.focus.teamleader.eu
    variables: {}
security:
  - httpBearer: []
tags:
  - name: departments
    description: |
      Departments are used to split quotations and invoices for different legal entities or within one organisation.

      ***Required scopes:*** `departments`
    x-displayName: Departments
  - name: users
    description: |
      Users are co-workers in a Teamleader account.

      ***Required scopes:*** `users`
    x-displayName: Users
  - name: teams
    description: |
      ***Required scopes:*** `users`
    x-displayName: Teams
  - name: custom_fields
    description: |
      Custom fields are used to add additional data/properties to entities within Teamleader.
    x-displayName: Custom Fields
  - name: work_types
    description: |
      Work types define the type of work for events or time tracking. Hourly rates can be added to work types, so that the work can be billed to a customer.
    x-displayName: Work Types
  - name: document_templates
    description: Document Templates
    x-displayName: Document Templates
  - name: currencies
    description: Currencies
    x-displayName: Currencies
  - name: notes
    description: Notes
    x-displayName: Notes
  - name: email_tracking
    description: Email Tracking
    x-displayName: Email Tracking
  - name: closing_days
    description: Closing Days
    x-displayName: Closing Days
  - name: day_off_types
    description: Day Off Types
    x-displayName: Day Off Types
  - name: days_off
    description: Days Off
    x-displayName: Days Off
  - name: contacts
    description: |
      Contacts are physical entities who are added to your CRM database. Contacts might be linked to one or more companies.

      ***Required scopes:*** `contacts`
    x-displayName: Contacts
  - name: companies
    description: |
      Companies are legal entities, usually linked to a VAT and/or local business number.

      ***Required scopes:*** `companies`
    x-displayName: Companies
  - name: business_types
    description: |
      Each country has a specific set of business types or range of legal entities. You can specify the business type when adding or updating a company.
    x-displayName: Business Types
  - name: tags
    description: |
      Tags are used to label contacts or companies, so that they can easily be filtered or grouped into segments.
    x-displayName: Tags
  - name: addresses
    description: |
      We provide a set of data which can be used to build addresses.
    x-displayName: Addresses
  - name: deals
    description: |
      Deals are sale opportunities, which need to be followed up by their responsible user. A deal can move through specific deal phases, and be marked as won or lost.

      ***Required scopes:*** `deals`
    x-displayName: Deals
  - name: deal_pipelines
    description: |
      Each deal belongs to a specific pipeline, in which it goes through the different deal phases.

      ***Required scopes:*** `deals`
    x-displayName: Deal Pipelines
  - name: deal_phases
    description: |
      Deal phases are the different phases a deal typically goes through. A deal can be moved to either a next or previous phase. A deal can be marked as won or lost independently from the deal phase.

      ***Required scopes:*** `deals`
    x-displayName: Deal Phases
  - name: deal_sources
    description: |
      Deal sources are used to track the origin of a deal.

      ***Required scopes:*** `deals`
    x-displayName: Deal Sources
  - name: quotations
    description: |
      A quotation is a sales offer for a specific customer. It is always attached to a deal. Quotations can be signed online via Cloudsign.

      ***Required scopes:*** `deals`
    x-displayName: Quotations
  - name: orders
    description: |
      ***Required scopes:*** `orders`
    x-displayName: Orders
  - name: meetings
    description: Meetings
    x-displayName: Meetings
  - name: calls
    description: Calls
    x-displayName: Calls
  - name: call_outcomes
    description: Call Outcomes
    x-displayName: Call Outcomes
  - name: calendar_events
    description: |
      Calendar events are scheduled events in your calendar. A calendar event involves a particular activity type: a task, meeting or call.

      ***Required scopes:*** `events`
    x-displayName: Calendar events
  - name: activity_types
    description: |
      Activity types identify the different types of events that take place within your organisation. 
      Currently only three activity types are available: `tasks`, `meetings` and `calls`.
    x-displayName: Activity Types
  - name: invoices
    description: |
      Teamleader provides a whole set of endpoints to make it easy to develop
      integrations with invoices. New invoices are created in accordance with this
      flow: `invoice.draft` → `invoice.book`. Invoices can also be updated,
      deleted or credited.

      ***Required scopes:*** `invoices`
    x-displayName: Invoices
  - name: credit_notes
    description: |
      Credit notes are created when certain products or services are not delivered
      according to their invoice. The credit note reduces the due amount of the
      credited invoice.

      ***Required scopes:*** `invoices`
    x-displayName: Credit Notes
  - name: subscriptions
    description: Subscriptions
    x-displayName: Subscriptions
  - name: tax_rates
    description: |
      Tax rates provide an overview of different taxation rates used to bill
      customers. Teamleader provides a default list of tax rates based on the
      country of residence of the company that’s using Teamleader. The end user
      also has the option to add additional tax rates.
    x-displayName: Tax Rates
  - name: payment_terms
    description: |
      Payment terms are the conditions under which an invoice need to be paid.
    x-displayName: Payment Terms
  - name: withholding_tax_rates
    description: |
      Withholding tax rates provide an overview of different taxation rates used
      to bill customers. Teamleader provides a default list of tax rates based on
      the country of residence of the company that’s using Teamleader. The
      countries that use withholding tax rates are Italy and Spain.
    x-displayName: Withholding Tax Rates
  - name: commercial_discounts
    description: Commercial Discounts
    x-displayName: Commercial Discounts
  - name: payment_methods
    x-displayName: Payment Methods
    description: Payment Methods
  - name: expenses
    description: Expenses
    x-displayName: Expenses
  - name: bookkeeping_submissions
    description: Bookkeeping Submissions
    x-displayName: Bookkeeping Submissions
  - name: incoming_credit_notes
    description: |
      Incoming credit notes are credit notes received from your suppliers. They
      can be added, approved, refused or sent to bookkeeping.
    x-displayName: Incoming Credit Notes
  - name: incoming_invoices
    description: |
      Incoming invoices are invoices received from your suppliers. They can be
      added, approved, refused or sent to bookkeeping.
    x-displayName: Incoming Invoices
  - name: receipts
    description: |
      Receipts are expenses for which you have a receipt, but no invoice. They can
      be added, approved, refused or sent to bookkeeping.
    x-displayName: Receipts
  - name: product_categories
    description: |
      Product categories are used to group specific products. They can be linked
      to a ledger account, which is important for accounting.

      ***Required scopes:*** `products`
    x-displayName: Product Categories
  - name: products
    description: |
      ***Required scopes:*** `products`
    x-displayName: Products
  - name: units_of_measure
    description: Units of Measure
    x-displayName: Units of Measure
  - name: price_lists
    description: Price Lists
    x-displayName: Price Lists
  - name: legacy_projects
    description: |
      Projects allow users to work together as a team on a single project. They
      consist of one or more milestones, have one or more participants and are
      limited in time and budget.

      ***Required scopes:*** `projects`
    x-displayName: Legacy Projects
  - name: legacy_milestones
    description: |
      Every projects consists of one or more milestones which are limited in time
      and budget. Budget is however not included in this endpoints (yet).

      *Required scopes: `projects`*
    x-displayName: Legacy Milestones
  - name: projects
    description: |
      > _This is the documentation of the new projects module. See the **Legacy
      Projects** documentation for the endpoints concerning our legacy projects
      module._


      > ⚠️ (July 2023) The projects module has been completely overhauled and is
      currently only available for new project users. Existing project users only
      have access to the old projects module.

      > Over the course of the next few months, next generation projects will also
      be made available to existing project users, including the migration of
      existing project data.


      > To avoid naming collisions, all endpoints of the new projects module can
      be found under `/projects-v2`, for example `/projects-v2/projects.list`.

      > To avoid confusing "new projects" with "creating a new project", we opted
      for "projects-v2" over "new" as the prefix.

      ***Required scopes:*** `projects`
    x-displayName: Projects
  - name: external_parties
    description: |
      > An external party is a contact or company that is added to a project with an optional function and/or sub function.

      ***Required scopes:*** `projects`
    x-displayName: External parties
  - name: project_lines
    description: |
      > A project line can be a group, a task, or a material.

      > The `projectLines.list` endpoint only returns `{id, type}` pairs of those
      lines.

      ***Required scopes:*** `projects`
    x-displayName: Project lines
  - name: groups
    description: |
      ***Required scopes:*** `projects`
    x-displayName: Groups
  - name: projects_v2_tasks
    description: |
      > _These endpoints are for (new) project tasks. For documentation on
      endpoints for tasks not linked to a project, see **Tasks** below._

      ***Required scopes:*** `projects`
    x-displayName: Tasks
  - name: materials
    description: |
      ***Required scopes:*** `projects`
    x-displayName: Materials
  - name: tasks
    description: Tasks
    x-displayName: Tasks
  - name: time_tracking
    description: |
      Time tracking allows users to record time spent on tasks or projects and the
      type of work. You are able to follow-up on the budgets of your projects and
      eventually you are able to invoice the billable time.
    x-displayName: Time Tracking
  - name: timers
    description: |
      Timers are an easy way to track time. You can start, stop or resume a timer
      any time. However, only one timer can run simultaneously per user. Every
      action will result in the creation or update of a time tracking.
    x-displayName: Timers
  - name: tickets
    description: |
      ***Required scopes:*** `tickets`
    x-displayName: Tickets
  - name: ticket_status
    description: Ticket Status
    x-displayName: Ticket Status
  - name: files
    description: Files
    x-displayName: Files
  - name: mail_templates
    description: Mail Templates
    x-displayName: Mail Templates
  - name: migrating
    description: |
      ⚠️ WARNING! These endpoints are not guaranteed to stay backwards compatible.

      Their only use is to allow older integrations to migrate their data to the
      new API.
    x-displayName: Migrating
  - name: webhooks
    description: Webhooks
    x-displayName: Webhooks
  - name: cloud_platforms
    description: Cloud Platforms
    x-displayName: Cloud Platforms
  - name: accounts
    description: Accounts
    x-displayName: Accounts
  - name: plannable_items
    description: Plannable items
    x-displayName: Plannable items
  - name: reservations
    description: Reservations
    x-displayName: Reservations
  - name: user_availability
    description: User availability
    x-displayName: User availability
paths:
  /departments.list:
    post:
      tags:
        - departments
      summary: departments.list
      description: Get a list of departments.
      operationId: departments.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: departments.listrequest
                  type: object
                  properties: &ref_117
                    filter:
                      type: object
                      properties:
                        ids:
                          type: array
                          items:
                            type: string
                          example:
                            - 92296ad0-2d61-4179-b174-9f354ca2157f
                            - 53635682-c382-4fbf-9fd9-9506ca4fbcdd
                        status:
                          type: array
                          items:
                            type: string
                            enum:
                              - active
                              - archived
                          description: |
                            Filters on status:
                            * `active`   - Filters on active departments
                            * `archived` - Filters on archived departments
                    sort:
                      type: array
                      items:
                        allOf:
                          - title: Sort
                            required: &ref_3
                              - field
                            type: object
                            properties: &ref_4
                              field:
                                type: string
                              order:
                                title: Order
                                enum: &ref_28
                                  - asc
                                  - desc
                                type: string
                          - properties:
                              field:
                                type: string
                                enum:
                                  - default_department
                                  - name
                                  - created_at
                                description: |-
                                  * `default_department` - When sorting ascending, default departments are listed first.
                                  * `name` - Sorts by department name.
                                  * `created_at` - Sorts by department creation date.
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: departments.listresponse
                    type: object
                    properties: &ref_118
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 67c576e7-7e6f-465d-b6ab-a864f6e5e95b
                            name:
                              type: string
                              example: Human Resources
                            vat_number:
                              type: string
                              example: BE0899623035
                            currency:
                              type: string
                              example: EUR
                            emails:
                              type: array
                              items:
                                allOf:
                                  - title: Email
                                    type: object
                                    properties: &ref_0
                                      type:
                                        type: string
                                        example: primary
                                      email:
                                        type: string
                                        example: info@piedpiper.eu
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - primary
                                          - invoicing
                                        example: primary
                              description: ''
                            status:
                              type: string
                              enum:
                                - active
                                - archived
                              example: active
                        description: ''
                  - example:
                      data:
                        - id: 67c576e7-7e6f-465d-b6ab-a864f6e5e95b
                          name: Human Resources
                          vat_number: BE0899623035
                          currency: EUR
                          emails:
                            - type: primary
                              email: info@piedpiper.eu
                          status: active
              example:
                data:
                  - id: 67c576e7-7e6f-465d-b6ab-a864f6e5e95b
                    name: Human Resources
                    vat_number: BE0899623035
                    currency: EUR
                    emails:
                      - type: primary
                        email: info@piedpiper.eu
                    status: active
      deprecated: false
  /departments.info:
    post:
      tags:
        - departments
      summary: departments.info
      description: Get details for a single department.
      operationId: departments.info
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: departments.inforequest
                  required: &ref_119
                    - id
                  type: object
                  properties: &ref_120
                    id:
                      type: string
                      example: 92296ad0-2d61-4179-b174-9f354ca2157f
                - example:
                    id: 92296ad0-2d61-4179-b174-9f354ca2157f
            example:
              id: 92296ad0-2d61-4179-b174-9f354ca2157f
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: departments.inforesponse
                    type: object
                    properties: &ref_121
                      data:
                        type: object
                        title: data1
                        properties:
                          id:
                            type: string
                            example: 67c576e7-7e6f-465d-b6ab-a864f6e5e95b
                          name:
                            type: string
                            example: Human Resources
                          vat_number:
                            type: string
                            example: BE0899623035
                          address:
                            title: AddressResponse
                            type: object
                            properties: &ref_18
                              line_1:
                                type: string
                                nullable: true
                                example: Dok Noord 3A 101
                              postal_code:
                                type: string
                                nullable: true
                                example: '9000'
                              city:
                                type: string
                                nullable: true
                                example: Ghent
                              country:
                                type: string
                                example: BE
                              area_level_two:
                                type: object
                                nullable: true
                                allOf:
                                  - title: TypeAndId
                                    type: object
                                    properties: &ref_1
                                      id:
                                        type: string
                                        example: eab232c6-49b2-4b7e-a977-5e1148dad471
                                      type:
                                        type: string
                                  - properties:
                                      type:
                                        type: string
                                        example: area_level_two
                          emails:
                            type: array
                            items:
                              allOf:
                                - title: Email
                                  type: object
                                  properties: *ref_0
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - primary
                                        - invoicing
                                      example: primary
                            description: ''
                          telephones:
                            type: array
                            items:
                              title: Telephone
                              type: object
                              properties: &ref_2
                                type:
                                  type: string
                                  enum:
                                    - phone
                                    - mobile
                                    - fax
                                  example: phone
                                number:
                                  type: string
                                  example: '092980615'
                            description: ''
                          website:
                            type: string
                            example: https://piedpiper.com
                          currency:
                            type: string
                            example: EUR
                          iban:
                            type: string
                            example: BE12123412341234
                          bic:
                            type: string
                            example: BICBANK
                          fiscal_regime:
                            type: string
                            nullable: true
                            example: RF01
                          status:
                            type: string
                            enum:
                              - active
                              - archived
                            example: active
      deprecated: false
  /users.me:
    post:
      tags:
        - users
      summary: users.me
      description: Get the current authenticated user.
      operationId: users.me
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: users.meresponse
                    type: object
                    properties: &ref_123
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                          account:
                            allOf:
                              - title: TypeAndId
                                type: object
                                properties: *ref_1
                              - properties:
                                  type:
                                    type: string
                                    example: account
                          first_name:
                            type: string
                            example: John
                          last_name:
                            type: string
                            example: Smith
                          email:
                            type: string
                            example: john@teamleader.eu
                          email_verification_status:
                            type: string
                            enum:
                              - pending
                              - confirmed
                            example: confirmed
                          telephones:
                            type: array
                            items:
                              title: Telephone
                              type: object
                              properties: *ref_2
                            description: ''
                          language:
                            allOf:
                              - title: UserLanguage
                                enum: &ref_5
                                  - nl-BE
                                  - da
                                  - de
                                  - en
                                  - es
                                  - fi
                                  - fr
                                  - it
                                  - nb
                                  - nl
                                  - pl
                                  - pt
                                  - sv
                                  - tr
                                type: string
                                example: nl-BE
                              - example: nl-BE
                          function:
                            type: string
                            example: Sales
                          time_zone:
                            type: string
                            example: Europe/Brussels
                          preferences:
                            title: UserPreferences
                            type: object
                            properties: &ref_122
                              invoiceable:
                                type: boolean
                                example: true
                              historic_time_tracking_limit:
                                type: object
                                nullable: true
                                properties:
                                  unit:
                                    type: string
                                    enum:
                                      - hour
                                    example: hour
                                  value:
                                    type: number
                                    example: 24
                              whitelabeling:
                                type: boolean
                                example: true
                  - example:
                      data:
                        id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                        account:
                          type: account
                          id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                        first_name: John
                        last_name: Smith
                        email: john@teamleader.eu
                        email_verification_status: confirmed
                        telephones:
                          - type: phone
                            number: '092980615'
                        language: nl-BE
                        function: Sales
                        time_zone: Europe/Brussels
                        preferences:
                          invoiceable: true
                          historic_time_tracking_limit:
                            unit: hour
                            value: 24
                          whitelabeling: true
              example:
                data:
                  id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                  account:
                    type: account
                    id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                  first_name: John
                  last_name: Smith
                  email: john@teamleader.eu
                  email_verification_status: confirmed
                  telephones:
                    - type: phone
                      number: '092980615'
                  language: nl-BE
                  function: Sales
                  time_zone: Europe/Brussels
                  preferences:
                    invoiceable: true
                    historic_time_tracking_limit:
                      unit: hour
                      value: 24
                    whitelabeling: true
      deprecated: false
  /users.list:
    post:
      tags:
        - users
      summary: users.list
      description: Get a list of all users.
      operationId: users.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: users.listrequest
                  type: object
                  properties: &ref_124
                    filter:
                      type: object
                      properties:
                        ids:
                          type: array
                          items:
                            type: string
                          description: ''
                        term:
                          type: string
                          description: Filters on first name, last name, email and function
                          example: John
                        status:
                          type: array
                          items:
                            type: string
                            enum:
                              - active
                              - deactivated
                          description: |
                            Filters on status:
                            * `active`   - Filters on active users
                            * `deactivated` - Filters on deactivated users
                    sort:
                      type: array
                      items:
                        allOf:
                          - title: Sort
                            required: *ref_3
                            type: object
                            properties: *ref_4
                          - properties:
                              field:
                                type: string
                                enum:
                                  - first_name
                                  - last_name
                                  - email
                                  - function
                      description: ''
                    page:
                      title: Page
                      type: object
                      properties: &ref_6
                        size:
                          type: number
                          default: 20
                        number:
                          type: number
                          default: 1
                - example:
                    filter:
                      ids:
                        - cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                        - f8a57a6f-dd1e-41a3-b8d3-428663f1d09e
                      term: John
                      status:
                        - active
                        - deactivated
                    sort:
                      - field: first_name
                    page:
                      size: 20
                      number: 1
            example:
              filter:
                ids:
                  - cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                  - f8a57a6f-dd1e-41a3-b8d3-428663f1d09e
                term: John
                status:
                  - active
                  - deactivated
              sort:
                - field: first_name
              page:
                size: 20
                number: 1
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: users.listresponse
                    type: object
                    properties: &ref_125
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                            account:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      type: string
                                      example: account
                            first_name:
                              type: string
                              example: John
                            last_name:
                              type: string
                              example: Smith
                            email:
                              type: string
                              example: john@teamleader.eu
                            telephones:
                              type: array
                              items:
                                title: Telephone
                                type: object
                                properties: *ref_2
                              description: ''
                            language:
                              type: string
                              example: nl
                            function:
                              type: string
                              example: Sales
                            status:
                              type: string
                              enum:
                                - active
                                - deactivated
                              example: active
                            teams:
                              type: array
                              items:
                                allOf:
                                  - title: TypeAndId
                                    type: object
                                    properties: *ref_1
                                  - properties:
                                      type:
                                        type: string
                                        example: team
                  - example:
                      data:
                        - id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                          account:
                            type: account
                            id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                          first_name: John
                          last_name: Smith
                          email: john@teamleader.eu
                          telephones:
                            - type: phone
                              number: '092980615'
                          language: nl
                          function: Sales
                          status: active
                          teams:
                            - type: team
                              id: 6dd0069e-45da-0ec4-911a-afb351d968cd
              example:
                data:
                  - id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                    account:
                      type: account
                      id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                    first_name: John
                    last_name: Smith
                    email: john@teamleader.eu
                    telephones:
                      - type: phone
                        number: '092980615'
                    language: nl
                    function: Sales
                    status: active
                    teams:
                      - type: team
                        id: 6dd0069e-45da-0ec4-911a-afb351d968cd
      deprecated: false
  /users.info:
    post:
      tags:
        - users
      summary: users.info
      description: Get details for a single user.
      operationId: users.info
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: users.inforequest
                  required: &ref_126
                    - id
                  type: object
                  properties: &ref_127
                    id:
                      type: string
                      example: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                    includes:
                      type: string
                      description: when used, the response will include `external_rate`
                      example: external_rate
                - example:
                    id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                    includes: external_rate
            example:
              id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
              includes: external_rate
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: users.inforesponse
                    type: object
                    properties: &ref_128
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                          account:
                            allOf:
                              - title: TypeAndId
                                type: object
                                properties: *ref_1
                              - properties:
                                  type:
                                    type: string
                                    example: account
                          first_name:
                            type: string
                            example: John
                          last_name:
                            type: string
                            example: Smith
                          email:
                            type: string
                            example: john@teamleader.eu
                          telephones:
                            type: array
                            items:
                              title: Telephone
                              type: object
                              properties: *ref_2
                            description: ''
                          language:
                            allOf:
                              - title: UserLanguage
                                enum: *ref_5
                                type: string
                                example: nl-BE
                              - example: nl-BE
                          function:
                            type: string
                            example: Sales
                          time_zone:
                            type: string
                            example: Europe/Brussels
                          status:
                            type: string
                            enum:
                              - active
                              - deactivated
                            example: active
                          teams:
                            type: array
                            items:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      type: string
                                      example: team
                            description: ''
                          external_rate:
                            type: object
                            nullable: true
                            allOf:
                              - title: Money
                                required: &ref_31
                                  - amount
                                  - currency
                                type: object
                                properties: &ref_32
                                  amount:
                                    type: number
                                    example: 123.3
                                  currency:
                                    title: CurrencyCode
                                    enum: &ref_11
                                      - BAM
                                      - CAD
                                      - CHF
                                      - CLP
                                      - CNY
                                      - COP
                                      - CZK
                                      - DKK
                                      - EUR
                                      - GBP
                                      - INR
                                      - ISK
                                      - JPY
                                      - MAD
                                      - MXN
                                      - NOK
                                      - PEN
                                      - PLN
                                      - RON
                                      - SEK
                                      - TRY
                                      - USD
                                      - ZAR
                                    type: string
                  - example:
                      data:
                        id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                        account:
                          type: account
                          id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                        first_name: John
                        last_name: Smith
                        email: john@teamleader.eu
                        telephones:
                          - type: phone
                            number: '092980615'
                        language: nl-BE
                        function: Sales
                        time_zone: Europe/Brussels
                        status: active
                        teams:
                          - type: team
                            id: 6dd0069e-45da-0ec4-911a-afb351d968cd
                        external_rate:
                          amount: 123.3
                          currency: EUR
              example:
                data:
                  id: cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5
                  account:
                    type: account
                    id: 0fc55513-7f68-4865-aba0-de5da9e4e43d
                  first_name: John
                  last_name: Smith
                  email: john@teamleader.eu
                  telephones:
                    - type: phone
                      number: '092980615'
                  language: nl-BE
                  function: Sales
                  time_zone: Europe/Brussels
                  status: active
                  teams:
                    - type: team
                      id: 6dd0069e-45da-0ec4-911a-afb351d968cd
                  external_rate:
                    amount: 123.3
                    currency: EUR
      deprecated: false
  /users.listDaysOff:
    post:
      tags:
        - users
      summary: users.listDaysOff
      description: Returns information about days off of a given user.
      operationId: users.listDaysOff
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: users.listDaysOffrequest
                  required: &ref_129
                    - id
                  type: object
                  properties: &ref_130
                    id:
                      type: string
                      example: 87982c96-f2fe-4b05-838c-ff42c0525758
                    filter:
                      type: object
                      properties:
                        starts_after:
                          type: string
                          description: Start of the period for which to return days off.
                          example: '2023-10-01'
                        ends_before:
                          type: string
                          description: End of the period for which to return days off.
                          example: '2023-10-30'
                    page:
                      title: Page
                      type: object
                      properties: *ref_6
                - example:
                    id: 87982c96-f2fe-4b05-838c-ff42c0525758
                    filter:
                      starts_after: '2023-10-01'
                      ends_before: '2023-10-30'
                    page:
                      size: 20
                      number: 1
            example:
              id: 87982c96-f2fe-4b05-838c-ff42c0525758
              filter:
                starts_after: '2023-10-01'
                ends_before: '2023-10-30'
              page:
                size: 20
                number: 1
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: users.listDaysOffresponse
                    type: object
                    properties: &ref_132
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: f611da79-90c2-02b1-b819-a810e0c77291
                            starts_at:
                              type: string
                              example: '2023-10-01T09:00:00+01:00'
                            ends_at:
                              type: string
                              example: '2023-10-20T18:00:00+01:00'
                            user:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      enum:
                                        - user
                                      example: user
                            leave_type:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      type: string
                                      enum:
                                        - dayOffType
                                      example: dayOffType
                            status:
                              type: string
                              enum:
                                - approved
                                - not_approved
                                - pending
                              example: approved
                        description: ''
                      meta:
                        allOf:
                          - title: Meta
                            type: object
                            properties: &ref_14
                              page:
                                title: Pagination
                                type: object
                                properties: &ref_131
                                  size:
                                    type: number
                                    example: 10
                                  number:
                                    type: number
                                    example: 2
                              matches:
                                type: number
                                example: 12
                            description: Only included with request parameter `includes=pagination`
                          - description: Only included with request parameter `includes=pagination`
                  - example:
                      data:
                        - id: f611da79-90c2-02b1-b819-a810e0c77291
                          starts_at: '2023-10-01T09:00:00+01:00'
                          ends_at: '2023-10-20T18:00:00+01:00'
                          user:
                            type: user
                            id: b5094b3f-bb7a-0391-b01b-e709773f3509
                          leave_type:
                            type: dayOffType
                            id: f68b123c-4c36-0f5c-ac16-11f498e5dc01
                          status: approved
                      meta:
                        page:
                          size: 10
                          number: 2
                        matches: 12
              example:
                data:
                  - id: f611da79-90c2-02b1-b819-a810e0c77291
                    starts_at: '2023-10-01T09:00:00+01:00'
                    ends_at: '2023-10-20T18:00:00+01:00'
                    user:
                      type: user
                      id: b5094b3f-bb7a-0391-b01b-e709773f3509
                    leave_type:
                      type: dayOffType
                      id: f68b123c-4c36-0f5c-ac16-11f498e5dc01
                    status: approved
                meta:
                  page:
                    size: 10
                    number: 2
                  matches: 12
      deprecated: false
  /users.getWeekSchedule:
    post:
      tags:
        - users
      summary: users.getWeekSchedule
      description: Returns information about week schedule of a user. Only available with the *Weekly working schedule* feature.
      operationId: users.getWeekSchedule
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: users.getWeekSchedulerequest
                  required: &ref_133
                    - id
                  type: object
                  properties: &ref_134
                    id:
                      type: string
                      example: 87982c96-f2fe-4b05-838c-ff42c0525758
                - example:
                    id: 87982c96-f2fe-4b05-838c-ff42c0525758
            example:
              id: 87982c96-f2fe-4b05-838c-ff42c0525758
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: users.getWeekScheduleresponse
                    type: object
                    properties: &ref_135
                      data:
                        type: object
                        properties:
                          periods:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - working_hours
                                    - lunch_break
                                  example: working_hours
                                start:
                                  type: object
                                  properties:
                                    day:
                                      title: Weekday
                                      enum: &ref_7
                                        - monday
                                        - tuesday
                                        - wednesday
                                        - thursday
                                        - friday
                                        - saturday
                                        - sunday
                                      type: string
                                    time:
                                      type: string
                                      description: The time of day in 24-hour hh:mm format. The time will be reported in the user's time zone.
                                      example: '09:00'
                                end:
                                  type: object
                                  properties:
                                    day:
                                      title: Weekday
                                      enum: *ref_7
                                      type: string
                                    time:
                                      type: string
                                      description: The time of day in 24-hour hh:mm format. The time will be reported in the user's time zone.
                                      example: '17:00'
                            description: ''
                  - example:
                      data:
                        periods:
                          - type: working_hours
                            start:
                              day: monday
                              time: '09:00'
                            end:
                              day: monday
                              time: '17:00'
              example:
                data:
                  periods:
                    - type: working_hours
                      start:
                        day: monday
                        time: '09:00'
                      end:
                        day: monday
                        time: '17:00'
      deprecated: false
  /teams.list:
    post:
      tags:
        - teams
      summary: teams.list
      description: Gets a list of all teams.
      operationId: teams.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: teams.listrequest
                  type: object
                  properties: &ref_136
                    filter:
                      type: object
                      properties:
                        ids:
                          type: array
                          items:
                            type: string
                          description: ''
                        term:
                          type: string
                          description: Filters on name
                          example: Designers
                        team_lead_id:
                          type: string
                          description: Filters on teams for which a user is team lead for
                          example: 6a9106c3-ed2a-46a2-a919-eb3d41165dd2
                    sort:
                      type: array
                      items:
                        allOf:
                          - title: Sort
                            required: *ref_3
                            type: object
                            properties: *ref_4
                          - properties:
                              field:
                                enum:
                                  - name
                                type: string
                                example: name
                      description: ''
                - example:
                    filter:
                      ids:
                        - 92296ad0-2d61-4179-b174-9f354ca2157f
                        - 53635682-c382-4fbf-9fd9-9506ca4fbcdd
                      term: Designers
                      team_lead_id: 6a9106c3-ed2a-46a2-a919-eb3d41165dd2
                    sort:
                      - field: name
            example:
              filter:
                ids:
                  - 92296ad0-2d61-4179-b174-9f354ca2157f
                  - 53635682-c382-4fbf-9fd9-9506ca4fbcdd
                term: Designers
                team_lead_id: 6a9106c3-ed2a-46a2-a919-eb3d41165dd2
              sort:
                - field: name
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: teams.listresponse
                    type: object
                    properties: &ref_137
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 4b5291aa-2d78-09d2-882c-6c1483f00d88
                            name:
                              type: string
                              example: Designers
                            team_lead:
                              type: object
                              nullable: true
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                            members:
                              type: array
                              items:
                                allOf:
                                  - title: TypeAndId
                                    type: object
                                    properties: *ref_1
                              description: ''
                        description: ''
                  - example:
                      data:
                        - id: 4b5291aa-2d78-09d2-882c-6c1483f00d88
                          name: Designers
                          team_lead:
                            type: user
                            id: bef8c53b-b6bc-0fde-944e-5c4b16e5155a
                          members:
                            - type: user
                              id: bef8c53b-b6bc-0fde-944e-5c4b16e5155a
              example:
                data:
                  - id: 4b5291aa-2d78-09d2-882c-6c1483f00d88
                    name: Designers
                    team_lead:
                      type: user
                      id: bef8c53b-b6bc-0fde-944e-5c4b16e5155a
                    members:
                      - type: user
                        id: bef8c53b-b6bc-0fde-944e-5c4b16e5155a
      deprecated: false
  /customFieldDefinitions.create:
    post:
      tags:
        - custom_fields
      summary: customFieldDefinitions.create
      description: |
        Create a custom field definition.

        ***Required scopes:*** `settings`
      operationId: customFieldDefinitions.create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: customFieldDefinitions.createrequest
                  required: &ref_138
                    - label
                    - type
                    - context
                  type: object
                  properties: &ref_139
                    label:
                      type: string
                    type:
                      allOf:
                        - type: string
                          enum: &ref_9
                            - single_line
                            - multi_line
                            - single_select
                            - multi_select
                            - date
                            - money
                            - auto_increment
                            - integer
                            - number
                            - boolean
                            - email
                            - telephone
                            - url
                            - company
                            - contact
                            - product
                            - user
                        - example: single_line
                    context:
                      allOf:
                        - title: Context
                          enum: &ref_8
                            - contact
                            - company
                            - deal
                            - project
                            - milestone
                            - product
                            - invoice
                            - subscription
                            - ticket
                          type: string
                        - example: contact
                    configuration:
                      type: object
                      description: |
                        - Use `options` when `type` is one of [`single_select`, `multi_select`]
                        - Use `default_value` when `type` is `auto_increment`
                        - Use `searchable` when `type` is one of [`single_line`, `company`, `integer`, `number`, `auto_increment`, `email`, `telephone`]
                      oneOf:
                        - type: object
                          title: options
                          properties:
                            options:
                              type: array
                              items:
                                type: string
                        - type: object
                          title: default_value
                          properties:
                            default_value:
                              type: number
                        - type: object
                          title: searchable
                          properties:
                            searchable:
                              type: boolean
                - example:
                    label: ''
                    type: single_line
                    context: contact
            example:
              label: ''
              type: single_line
              context: contact
        required: true
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: customFieldDefinitions.createresponse
                    type: object
                    properties: &ref_140
                      data:
                        allOf:
                          - title: TypeAndId
                            type: object
                            properties: *ref_1
                          - properties:
                              type:
                                type: string
                                example: customFieldDefinition
                  - example:
                      data:
                        type: customFieldDefinition
                        id: 526960d3-8d49-4a71-9f62-7b8b74aef058
              example:
                data:
                  type: customFieldDefinition
                  id: 526960d3-8d49-4a71-9f62-7b8b74aef058
      deprecated: false
  /customFieldDefinitions.list:
    post:
      tags:
        - custom_fields
      summary: customFieldDefinitions.list
      description: Get a list of all the definitions of custom fields.
      operationId: customFieldDefinitions.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: customFieldDefinitions.listrequest
                  type: object
                  properties: &ref_141
                    filter:
                      type: object
                      properties:
                        ids:
                          type: array
                          items:
                            type: string
                          description: ''
                        context:
                          allOf:
                            - title: Context
                              enum: *ref_8
                              type: string
                            - description: Filters on context
                    page:
                      title: Page
                      type: object
                      properties: *ref_6
                    sort:
                      type: array
                      items:
                        allOf:
                          - title: Sort
                            required: *ref_3
                            type: object
                            properties: *ref_4
                          - properties:
                              field:
                                type: string
                                enum:
                                  - label
                                  - context
                      description: ''
                - example:
                    filter:
                      ids:
                        - 9c64570b-4ec1-4e03-9662-af904f78f7fa
                        - aa6d2560-63f9-4b2f-bf96-823dc7c34df7
                    page:
                      size: 20
                      number: 1
                    sort:
                      - field: label
            example:
              filter:
                ids:
                  - 9c64570b-4ec1-4e03-9662-af904f78f7fa
                  - aa6d2560-63f9-4b2f-bf96-823dc7c34df7
              page:
                size: 20
                number: 1
              sort:
                - field: label
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: customFieldDefinitions.listresponse
                    type: object
                    properties: &ref_142
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 74855f4a-2b61-429c-81d8-c79ad3675a76
                            context:
                              allOf:
                                - title: Context
                                  enum: *ref_8
                                  type: string
                                - example: contact
                            type:
                              type: string
                              enum: *ref_9
                            label:
                              type: string
                            group:
                              type: string
                            required:
                              type: boolean
                              example: false
                            configuration:
                              type: object
                              properties:
                                options:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: 179e1564-493b-4305-8c54-a34fc80920fc
                                      value:
                                        type: string
                                        example: foo
                                  description: Only returned for `single_select` and `multi_select` types
                                extra_option_allowed:
                                  type: boolean
                                  example: true
                        description: ''
                  - example:
                      data:
                        - id: 74855f4a-2b61-429c-81d8-c79ad3675a76
                          context: contact
                          type: single_line
                          label: ''
                          group: ''
                          required: false
                          configuration:
                            options:
                              - id: 179e1564-493b-4305-8c54-a34fc80920fc
                                value: foo
                            extra_option_allowed: true
              example:
                data:
                  - id: 74855f4a-2b61-429c-81d8-c79ad3675a76
                    context: contact
                    type: single_line
                    label: ''
                    group: ''
                    required: false
                    configuration:
                      options:
                        - id: 179e1564-493b-4305-8c54-a34fc80920fc
                          value: foo
                      extra_option_allowed: true
      deprecated: false
  /customFieldDefinitions.info:
    post:
      tags:
        - custom_fields
      summary: customFieldDefinitions.info
      description: Get info about a specific custom field definition.
      operationId: customFieldDefinitions.info
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: customFieldDefinitions.inforequest
                  required: &ref_143
                    - id
                  type: object
                  properties: &ref_144
                    id:
                      type: string
                      example: 9c64570b-4ec1-4e03-9662-af904f78f7fa
                - example:
                    id: 9c64570b-4ec1-4e03-9662-af904f78f7fa
            example:
              id: 9c64570b-4ec1-4e03-9662-af904f78f7fa
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: customFieldDefinitions.inforesponse
                    type: object
                    properties: &ref_145
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 74855f4a-2b61-429c-81d8-c79ad3675a76
                          context:
                            allOf:
                              - title: Context
                                enum: *ref_8
                                type: string
                              - example: contact
                          type:
                            type: string
                            enum: *ref_9
                          label:
                            type: string
                          group:
                            type: string
                          required:
                            type: boolean
                            example: false
                          configuration:
                            type: object
                            properties:
                              options:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 179e1564-493b-4305-8c54-a34fc80920fc
                                    value:
                                      type: string
                                      example: foo
                                description: Only returned for `single_select` and `multi_select` types
                              extra_option_allowed:
                                type: boolean
                                example: true
                  - example:
                      data:
                        id: 57e851e2-3d3b-4523-82f8-fe77df5a5d6c
                        context: contact
                        type: single_line
                        label: ''
                        group: ''
                        required: false
                        configuration:
                          options:
                            - id: 179e1564-493b-4305-8c54-a34fc80920fc
                              value: foo
                          extra_option_allowed: true
              example:
                data:
                  id: 57e851e2-3d3b-4523-82f8-fe77df5a5d6c
                  context: contact
                  type: single_line
                  label: ''
                  group: ''
                  required: false
                  configuration:
                    options:
                      - id: 179e1564-493b-4305-8c54-a34fc80920fc
                        value: foo
                    extra_option_allowed: true
      deprecated: false
  /workTypes.list:
    post:
      tags:
        - work_types
      summary: workTypes.list
      description: Get a list of all work types, sorted alphabetically (on their name).
      operationId: workTypes.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: workTypes.listrequest
              type: object
              properties: &ref_146
                filter:
                  type: object
                  properties:
                    ids:
                      type: array
                      items:
                        type: string
                      description: ''
                    term:
                      type: string
                      description: Searches in the work type name only
                      example: design
                page:
                  title: Page
                  type: object
                  properties: *ref_6
                sort:
                  allOf:
                    - title: Sort
                      required: *ref_3
                      type: object
                      properties: *ref_4
                    - properties:
                        field:
                          type: string
                          default: name
                        order:
                          type: string
                          default: asc
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: workTypes.listresponse
                    type: object
                    properties: &ref_147
                      data:
                        type: array
                        items:
                          title: IdAndName
                          type: object
                          properties: &ref_15
                            id:
                              type: string
                              example: 811a5825-96f4-4318-83c3-2840935c6003
                            name:
                              type: string
                        description: ''
                  - example:
                      data:
                        - id: 811a5825-96f4-4318-83c3-2840935c6003
                          name: Planning
              example:
                data:
                  - id: 811a5825-96f4-4318-83c3-2840935c6003
                    name: Planning
      deprecated: false
  /documentTemplates.list:
    post:
      tags:
        - document_templates
      summary: documentTemplates.list
      description: Get a list of all document templates.
      operationId: documentTemplates.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json;charset=utf-8:
            schema:
              allOf:
                - title: documentTemplates.listrequest
                  required: &ref_148
                    - filter
                  type: object
                  properties: &ref_149
                    filter:
                      type: object
                      required:
                        - department_id
                        - document_type
                      properties:
                        department_id:
                          type: string
                          example: a344c251-2494-0013-b433-ccee8e8435e5
                        document_type:
                          allOf:
                            - title: DocumentType
                              type: string
                              enum: &ref_10
                                - delivery_note
                                - invoice
                                - order
                                - order_confirmation
                                - quotation
                                - timetracking_report
                                - workorder
                              example: invoice
                            - example: invoice
                        status:
                          type: array
                          items:
                            type: string
                            enum:
                              - active
                              - archived
                          description: |-
                            Filters on status:
                            * `active`   - Filters on active departments
                            * `archived` - Filters on archived departments
                - example:
                    filter:
                      department_id: a344c251-2494-0013-b433-ccee8e8435e5
                      document_type: invoice
                      status:
                        - active
                        - archived
            example:
              filter:
                department_id: a344c251-2494-0013-b433-ccee8e8435e5
                document_type: invoice
                status:
                  - active
                  - archived
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                  - title: documentTemplates.listresponse
                    type: object
                    properties: &ref_150
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: a344c251-2494-0013-b433-ccee8e8435e5
                            department:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      type: string
                                      example: department
                            document_type:
                              allOf:
                                - title: DocumentType
                                  type: string
                                  enum: *ref_10
                                  example: invoice
                                - example: invoice
                            is_default:
                              type: boolean
                              example: true
                            name:
                              type: string
                              example: new logo
                            status:
                              type: string
                              enum:
                                - active
                                - archived
                              example: active
                        description: ''
                  - example:
                      data:
                        - id: a344c251-2494-0013-b433-ccee8e8435e5
                          department:
                            type: department
                            id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                          document_type: invoice
                          is_default: true
                          name: new logo
                          status: active
              example:
                data:
                  - id: a344c251-2494-0013-b433-ccee8e8435e5
                    department:
                      type: department
                      id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    document_type: invoice
                    is_default: true
                    name: new logo
                    status: active
      deprecated: false
  /currencies.exchangeRates:
    post:
      tags:
        - currencies
      summary: currencies.exchangeRates
      description: Get a list of exchange rates for a provided currency.
      operationId: currencies.exchangeRates
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: currencies.exchangeRatesrequest
                  required: &ref_151
                    - base
                  type: object
                  properties: &ref_152
                    base:
                      title: CurrencyCode
                      enum: *ref_11
                      type: string
                - example:
                    base: EUR
            example:
              base: EUR
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: currencies.exchangeRatesresponse
                    type: object
                    properties: &ref_153
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              title: CurrencyCode
                              enum: *ref_11
                              type: string
                            symbol:
                              type: string
                              example: $
                            name:
                              type: string
                              example: US Dollar
                            exchange_rate:
                              type: number
                              description: The exchange rate from the provided base currency to the listed currency
                              example: 1.1238
                        description: ''
                  - example:
                      data:
                        - code: USD
                          symbol: $
                          name: US Dollar
                          exchange_rate: 1.1238
              example:
                data:
                  - code: USD
                    symbol: $
                    name: US Dollar
                    exchange_rate: 1.1238
      deprecated: false
  /notes.list:
    post:
      tags:
        - notes
      summary: notes.list
      description: Get a list of all notes.
      operationId: notes.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json;charset=utf-8:
            schema:
              allOf:
                - title: notes.listrequest
                  required: &ref_154
                    - filter
                  type: object
                  properties: &ref_155
                    filter:
                      type: object
                      required:
                        - subject
                      properties:
                        subject:
                          allOf:
                            - title: TypeAndId
                              type: object
                              properties: *ref_1
                            - required:
                                - type
                                - id
                              properties:
                                type:
                                  title: NoteSubjectTypes
                                  enum: &ref_12
                                    - company
                                    - contact
                                    - creditNote
                                    - deal
                                    - invoice
                                    - nextgenProject
                                    - product
                                    - project
                                    - quotation
                                    - subscription
                                  type: string
                    page:
                      title: Page
                      type: object
                      properties: *ref_6
                - example:
                    filter:
                      subject:
                        type: contact
                        id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    page:
                      size: 20
                      number: 1
            example:
              filter:
                subject:
                  type: contact
                  id: 36386b05-936e-4cc0-9523-bd20d797ebf5
              page:
                size: 20
                number: 1
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                  - title: notes.listresponse
                    type: object
                    properties: &ref_156
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: a344c251-2494-0013-b433-ccee8e8435e5
                            content:
                              type: string
                              example: new note content
                            subject:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - properties:
                                    type:
                                      title: NoteSubjectTypes
                                      enum: *ref_12
                                      type: string
                            added_at:
                              type: string
                              example: '2016-01-01T00:00:00+00:00'
                        description: ''
                  - example:
                      data:
                        - id: a344c251-2494-0013-b433-ccee8e8435e5
                          content: new note content
                          subject:
                            type: contact
                            id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                          added_at: '2016-01-01T00:00:00+00:00'
              example:
                data:
                  - id: a344c251-2494-0013-b433-ccee8e8435e5
                    content: new note content
                    subject:
                      type: contact
                      id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    added_at: '2016-01-01T00:00:00+00:00'
      deprecated: false
  /notes.create:
    post:
      tags:
        - notes
      summary: notes.create
      description: Create a new note.
      operationId: notes.create
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: notes.createrequest
                  required: &ref_158
                    - subject
                    - content
                  type: object
                  properties: &ref_159
                    subject:
                      allOf:
                        - title: TypeAndId
                          type: object
                          properties: *ref_1
                        - required:
                            - type
                            - id
                          properties:
                            type:
                              title: NoteSubjectTypes
                              enum: &ref_157
                                - company
                                - contact
                                - creditNote
                                - deal
                                - invoice
                                - nextgenProject
                                - product
                                - quotation
                                - subscription
                              type: string
                    content:
                      type: string
                      example: new note content
                    notify:
                      type: array
                      items:
                        allOf:
                          - title: TypeAndId
                            type: object
                            properties: *ref_1
                          - type: object
                            required:
                              - type
                              - id
                            properties:
                              type:
                                enum:
                                  - user
                                type: string
                                example: user
                      description: ''
                - example:
                    subject:
                      type: contact
                      id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    content: new note content
                    notify:
                      - type: user
                        id: f29abf48-337d-44b4-aad4-585f5277a456
            example:
              subject:
                type: contact
                id: 36386b05-936e-4cc0-9523-bd20d797ebf5
              content: new note content
              notify:
                - type: user
                  id: f29abf48-337d-44b4-aad4-585f5277a456
        required: true
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - title: notes.createresponse
                    type: object
                    properties: &ref_160
                      data:
                        title: TypeAndId
                        type: object
                        properties: *ref_1
                  - example:
                      data:
                        type: note
                        id: ee94b4c0-5786-0517-9d26-8dd1e6406f20
              example:
                data:
                  type: note
                  id: ee94b4c0-5786-0517-9d26-8dd1e6406f20
      deprecated: false
  /notes.update:
    post:
      tags:
        - notes
      summary: notes.update
      description: Update an existing note.
      operationId: notes.update
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - title: notes.updaterequest
                  required: &ref_161
                    - id
                  type: object
                  properties: &ref_162
                    id:
                      type: string
                      example: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    content:
                      type: string
                      example: new note content
                - example:
                    id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    content: new note content
            example:
              id: 36386b05-936e-4cc0-9523-bd20d797ebf5
              content: new note content
        required: true
      responses:
        '204':
          description: ''
          headers: {}
          content: {}
      deprecated: false
  /emailTracking.list:
    post:
      tags:
        - email_tracking
      summary: emailTracking.list
      description: Get a list of all email tracking.
      operationId: emailTracking.list
      parameters: []
      requestBody:
        description: ''
        content:
          application/json;charset=utf-8:
            schema:
              allOf:
                - title: emailTracking.listrequest
                  required: &ref_163
                    - filter
                  type: object
                  properties: &ref_164
                    filter:
                      type: object
                      required:
                        - subject
                      properties:
                        subject:
                          allOf:
                            - title: TypeAndId
                              type: object
                              properties: *ref_1
                            - required:
                                - type
                                - id
                              properties:
                                type:
                                  title: EmailTrackingSubjectTypes
                                  enum: &ref_13
                                    - contact
                                    - company
                                    - deal
                                    - invoice
                                    - creditNote
                                    - subscription
                                    - product
                                    - quotation
                                    - nextgenProject
                                  type: string
                    page:
                      title: Page
                      type: object
                      properties: *ref_6
                - example:
                    filter:
                      subject:
                        type: contact
                        id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                    page:
                      size: 20
                      number: 1
            example:
              filter:
                subject:
                  type: contact
                  id: 36386b05-936e-4cc0-9523-bd20d797ebf5
              page:
                size: 20
                number: 1
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                  - title: emailTracking.listresponse
                    type: object
                    properties: &ref_165
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: a344c251-2494-0013-b433-ccee8e8435e5
                            title:
                              type: string
                              example: an email subject
                            content:
                              type: string
                              example: <p>the contents of the received email</p>
                            subject:
                              allOf:
                                - title: TypeAndId
                                  type: object
                                  properties: *ref_1
                                - required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      title: EmailTrackingSubjectTypes
                                      enum: *ref_13
                                      type: string
                            added_at:
                              type: string
                              example: '2016-01-01T00:00:00+00:00'
                            attachments:
                              type: array
                              items:
                                title: TypeAndId
                                type: object
                                properties: *ref_1
                              description: ''
                        description: ''
                  - example:
                      data:
                        - id: a344c251-2494-0013-b433-ccee8e8435e5
                          title: an email subject
                          content: <p>the contents of the received email</p>
                          subject:
                            type: contact
                            id: 36386b05-936e-4cc0-9523-bd20d797ebf5
                          added_at: '2016-01-01T00:00:00+00:00'
                          attachments:
                            - type: file
                              id: 0686d0da-1797-475b-ae94-27191b2eca4d
              example:
                data:
[...]
